body{
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
button{
    height:100px ;
    width: 100px;
    border: 1px solid black;
    margin: 1rem;
}

#red{
    background-color: red;
}
#blue{
    background-color: blue;
}
#magenta{
    background-color: magenta;
}
#yellow{
    background-color: yellow;
}
#orange{
    background-color: orange;
}